:root {
    --dark-blue: #0000ff;
    --light-blue: #53cce6;
}

#nav {
    /* background-color: transparent; */

    span {
        color: var(--dark-blue);
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .fs-4 {
        font-size: calc(4rem + .3vw) !important;
    }

    .nav-item {
        color: var(--dark-blue);
        opacity: 0.8;
        font-size: 2rem;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    .nav-item:hover {
        opacity: 1;
    }

    li {
        padding-top: 1rem;
    }    

    hr {
        margin: 0;
        border-top: 4px solid var(--dark-blue);
        padding: 0px;
        color: inherit;
    }
}

#search {
    /* background-color: rgba(255, 255, 255, 0.2); */
    color: var(--dark-blue);

    h1 {
        opacity: 1;
    }

    p {
        opacity: 0.5;
    }

    .text {
        color: var(--dark-blue);
        background-color: rgba(255, 255, 255, 0.25);
        border: solid 1px black;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.3rem;
    }

    .button {
        background-color: var(--dark-blue);
        color: var(--light-blue);
        font-family: inherit;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.25rem;
        border: none;
        border-radius: 0.5rem;
    }
}

.definitions {
    color: var(--dark-blue);
    .arrow {
        text-align: center;
        align-content: center;
        display: block;
        margin: auto;

        path {
            fill: var(--dark-blue);
        }
        padding-bottom: 5%;
    }

    #generation {
        margin-left: 10%;
        margin-right: 10%;
        h1 {
            padding-left: 0.5rem;
        }
    }

    .card {
        margin-bottom: 2.5%;
        color: var(--dark-blue);
        /* .card-header {
            color: var(--dark-blue);
            background-color: rgba(0, 0, 0, 0.25);
        } */
        p {
            opacity: 0.75;
        }
    }

    .button {
        background-color: var(--dark-blue);
        color: var(--light-blue);
        font-family: inherit;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        text-decoration: none;
    }
    /* .bg-dark-blue {
        background-color: var(--dark-blue);
    } */
    
}


html {
    background-color: var(--light-blue);
    /* border-radius: 6px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(83, 204, 230) 0%, rgb(0, 0, 255) 100%); */
}

body {
    background-color: transparent;
    height: 100%;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  